#Any environment variables
.env
*.env
env/
venv/

#Python
__pycache__/

#Data Files and Models
data/features/*
data/processed/*
data/models/*
data/raw/*

#Keep data file structure
!data/features/.gitkeep
!data/processed/.gitkeep
!data/models/.gitkeep
!data/raw/.gitkeep

#Keep image file structure as folder initially empty
!app/static/images/.gitkeep

#Jupyter notebook checkpoints
.ipynb_checkpoints

# Any logs
*.log
logs/*
!logs/.gitkeep

# IDE
.idea/
vscode/

# Migrations
epochai/common/database/migrations/versions/*
!epochai/common/database/migrations/versions/001_initial_schema.py

# Feature extractor
epochai/data_processing/feature_extractor/*
!epochai/data_processing/feature_extractor/__init__.py
